<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
        <key>CFBundleGetInfoString</key>
        <string>PhiApp V2.0</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
        <string>com.phisketeer.@EXECUTABLE@</string>
	<key>NOTE</key>
        <string>(c)2012 Phisys AG Switzerland. (c)2013-2014 Phisketeer team. All rights reserved.</string>
</dict>
</plist>
