<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
        <string>1.5.0</string>
	<key>CFBundleName</key>
	<string>Amphibia</string>
	<key>CFBundleGetInfoString</key>
        <string>Amphibia V1.5.0</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleIdentifier</key>
        <string>com.phisys.amphibia</string>
	<key>NOTE</key>
        <string>Copyright 2012-2013 Phisys AG Switzerland. All rights reserved.</string>
</dict>
</plist>
